*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i){
font-family: "Poppins","sans-serif";
}

body{
    background-color: #ae9cff;
}

.container{
 
    margin: 100px;
    margin-left: 280px;
    width: 40vw;
    height: 30vw;
    background-color: white;
    border-radius: 8px;
}


h1{
    text-align: center;
}

.box{

    margin-top: 30px;
    border: 2px solid black;
    height: 50%;

}

